{{!-- This is the HTML of the confirmation dialog --}}
<div id="confirm-modal">
	<div class="backdrop"></div>
	<div class="confirm-dialog">
		<div class="confirm-title">
			Are you sure you want to book this?
		</div>
		<div class="confirm-buttons">
			<button><i class="fa fa-check"></i></button>
			<button><i class="fa fa-close"></i></button>
		</div>
	</div>
</div>
