<div class="flight booking-row">
	<img class="carrier-icon" src="carriers/{{carrier}}.png">
	<b>{{from}} - {{to}}</b>
	<span class="departure-time">{{dep}}</span>
	<a class="booking-button"><i class="fa fa-plane"></i> Book</a>
</div>